<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Form1</title>
    <style>
        #name,#email,#Name,#pass{color:blue;
        padding:20px;
        }
        #button{padding:20px;
        }
        .container {
			display: flex;
			justify-content: center;
			height: 70vh;
        }
        form {
			width: 50%;
			padding: 20px;
			border: 2px solid black;
			border-radius: 10px;
			background-color: #f1f1f1;
		}
		h2{
		    text-align:center;
		}
    </style>
</head>
<body>
<h2><u>Register Your Account</u></h2>
<div class="container">
<form action="register" method="post">
    {% csrf_token %}
    <div id="name">
    <label>User name</label>
    <input type="text" name="username" placeholder="enter your user name">
    </div>
    <div id="Name">
    <label>First name </label>
    <input type="text" name="firstname" placeholder="enter your first name">
    </div>
     <div id="Name">
    <label>Second name </label>
    <input type="text" name="secondname" placeholder="enter your second name">
    </div>
    <div id="email">
    <label>Email</label>
    <input type="email" name="email" placeholder="enter your email">
    </div>
    <div id="pass">
    <label>enter password</label>
    <input type="password" name="pass1" placeholder="enter your password">
    </div>
    <div id="pass">
    <label>confirm password</label>
    <input type="password" name="pass2" placeholder="re-enter your password">
    </div>
    <div id="button">
    <input type="submit">
    </div>
</div>


</form>
{% for i in messages %}
{{i}}
{% endfor %}
</body>
</html>